body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  width: 500px;
  height: 500px;
  position: relative;
  /*   perspective: 1500px; */ /* Perspective for 3D effect */
}

.square {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotate 8s linear infinite; /* Cube rotation animation */
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: moveCube 8s linear infinite; /* Cube movement animation */
}

.cube::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red; /* Initial color */
  opacity: 0.8;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); /* Optional shadow effect */
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes moveCube {
  0%,
  100% {
    transform: translate3d(-250px, -250px, -250px);
    background-color: red;
  }
  25% {
    transform: translate3d(250px, -250px, -250px);
    background-color: blue;
  }
  50% {
    transform: translate3d(250px, 250px, -250px);
    background-color: green;
  }
  75% {
    transform: translate3d(-250px, 250px, -250px);
    background-color: yellow;
  }
}
