:root {
	--ring-count: 40;

	--r-start: 255;
	--g-start: 128;
	--b-start: 0;
	--o-start: 10;
	--r-end: 255;
	--g-end: 0;
	--b-end: 128;
	--o-end: 0;

	--bg1: #333;
	--bg2: rgba(96, 64, 192, 1);

	--size-start: 50px;
	--size-end: 830px;

	--border-start: 2rem;
	--border-end: 4rem;
	--border-style: dotted;

	--outline-start: 0px;
	--outline-end: 0px;
	--outline-style: none;

	--shadow-start: 2rem;
	--shadow-end: 2rem;

	--delay-start: 0s;
	--delay-end: 2s;

	--an-name: tumble;
	--an-duration: 20s;
	--an-timing: linear;
	--an-delay: -2s;
	--an-iterations: infinite;
	--an-direction: normal;
	--an-fill: forwards;

	--filter-anim-start: hue-rotate(0deg);
	--filter-anim-end: hue-rotate(360deg);

	--bg1-display: none;
	--bg2-display: block;
	--blend-mode: screen;
	--bg1-blend-mode: darken;
	--bg2-blend-mode: difference;

	/* --blend-mode: color-dodge; */
	/* --blend-mode: plus-lighter; */
	/* --bg2-blend-mode: color-burn; */
	/* --bg2-blend-mode: soft-light; */
	/* --bg2-blend-mode: hard-light; */

	/* rainbow-shadows-n-dots */
	/*
  --r-start: 255;
	--g-start: 128;
	--b-start: 0;
	--o-start: 10;
	--r-end: 255;
	--g-end: 0;
	--b-end: 128;
	--o-end: 0;

	--bg1: #333;
	--bg2: rgba(96, 64, 192, 1);

	--size-start: 50px;
	--size-end: 830px;

	--border-start: 1rem;
	--border-end: 0.25rem;
	--border-style: dotted;

	--outline-start: 0px;
	--outline-end: 0px;
	--outline-style: none;

	--shadow-start: 2rem;
	--shadow-end: 2rem;

	--delay-start: 0s;
	--delay-end: 2s;

	--an-name: tumble;
	--an-duration: 20s;
	--an-timing: linear;
	--an-delay: -2s;
	--an-iterations: infinite;
	--an-direction: normal;
	--an-fill: forwards;

	--filter-anim-start: hue-rotate(0deg);
	--filter-anim-end: hue-rotate(360deg);

	--bg1-display: none;
	--bg2-display: block;
	--blend-mode: screen;
	--bg1-blend-mode: darken;
	--bg2-blend-mode: difference;
  */

	/* purple-gold-shiny (old preset) */
	/*
  	--ring-count: 40;

	--r-start: 255;
	--g-start: 191;
	--b-start: 63;
	--o-start: 0.5;
	--r-end: 128;
	--g-end: 0;
	--b-end: 255;
	--o-end: 0;

	--size-start: 60px;
	--size-end: 840px;
	--border-start: 40px;
	--border-end: 40px;
	--delay-start: 0s;
	--delay-end: 1s;

	--an-name: tumble;
	--an-duration: 15s;
	--an-timing: linear;
	--an-delay: 0s;
	--an-iterations: infinite;
	--an-direction: normal;
	--an-fill: forwards;

	--blend-mode: plus-lighter;
	--bg1-blend-mode: darken;
	--bg2-blend-mode: color-burn;
	--bg1-display: none;
	--bg2-display: block;
	--bg1: #333;
	--bg2: rgba(233, 205, 57, 1);
  */

	/* swirly (old preset)*/
	/*
  --ring-count: 40;
  --r-increment: -5;
  --g-increment: 2.5;
  --b-increment: 10;
  --o-increment: -0.0125;
  --size-increment: 20px;
  --delay-increment: 0.08s;
  --border-increment: 0px;
  --r-start: 255;
  --g-start: 64;
  --b-start: 0;
  --o-start: 0.5;
  --size-start: 20px;
  --delay-start: 0s;
  --border-start: 20px;
  --an-name: tumble;
  --an-duration: 15s;
  --an-timing: linear;
  --an-delay: 0s;
  --an-iterations: infinite;
  --an-direction: normal;
  --an-fill: forwards;
  */
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	/* background-color: #00f; */
	background-color: #000f;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	box-shadow: inset 0 0 20vw rgba(0, 0, 0, 0.75);
	overflow: hidden;
}

.wrapper {
	/* min-height: 450px;
  max-height: 750px;
  min-width: 600px;
  max-width: 1000px;
  height: 90vh;
  width: 90vw;
  flex: 1;

  background-color: #ddd;
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 1), 0 0 5rem rgba(0, 0, 0, 0.75);
  border: 1rem ridge #a64; */

	display: flex;
	justify-content: center;
	align-items: center;

	perspective: 800px;
	transform-style: preserve-3d;
}

aside {
	transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);

	position: absolute;
	border: 4px solid #0000;
	border-radius: 50%;
	transform-style: preserve-3d;
}

aside.ring {
	--i: 0;

	/* written for universality. */
	/* each ring uses this ruleset. Just change --i for each individual ring, and all  properties will be set according to the rules in :root{} */
	/* --r-increment: calc(calc(calc(var(--r-end) - var(--r-start)) / calc(var(--ring-count) - 1))); */
	--r-dif: calc(var(--r-end) - var(--r-start));
	--g-dif: calc(var(--g-end) - var(--g-start));
	--b-dif: calc(var(--b-end) - var(--b-start));
	--o-dif: calc(var(--o-end) - var(--o-start));
	--size-dif: calc(var(--size-end) - var(--size-start));
	--border-dif: calc(var(--border-end) - var(--border-start));
	--outline-dif: calc(var(--outline-end) - var(--outline-start));
	--shadow-dif: calc(var(--shadow-end) - var(--shadow-start));
	--delay-dif: calc(var(--delay-end) - var(--delay-start));

	/* --c-start: rgba(var(--r-start), var(--g-start), var(--b-start), var(--o-start)); */
	/* --c-end: rgba(var(--r-end), var(--g-end), var(--b-end), var(--o-end)); */

	--ring-count-minus-1: calc(var(--ring-count) - 1);

	--r-increment: calc(var(--r-dif) / var(--ring-count-minus-1));
	--g-increment: calc(var(--g-dif) / var(--ring-count-minus-1));
	--b-increment: calc(var(--b-dif) / var(--ring-count-minus-1));
	--o-increment: calc(var(--o-dif) / var(--ring-count-minus-1));
	--size-increment: calc(var(--size-dif) / var(--ring-count-minus-1));
	--border-increment: calc(var(--border-dif) / var(--ring-count-minus-1));
	--outline-increment: calc(var(--outline-dif) / var(--ring-count-minus-1));
	--shadow-increment: calc(var(--shadow-dif) / var(--ring-count-minus-1));
	--delay-increment: calc(var(--delay-dif) / var(--ring-count-minus-1));

	--r: calc(var(--r-start) + calc(var(--r-increment) * calc(var(--i) - 1)));
	--g: calc(var(--g-start) + calc(var(--g-increment) * calc(var(--i) - 1)));
	--b: calc(var(--b-start) + calc(var(--b-increment) * calc(var(--i) - 1)));
	--o: calc(var(--o-start) + calc(var(--o-increment) * calc(var(--i) - 1)));
	--c: rgba(var(--r), var(--g), var(--b), var(--o));
	/* color: rgba(var(--r), var(--g), var(--b), var(--o)); */
	--shadow-size: calc(var(--shadow-start) + calc(var(--shadow-increment) * calc(var(--i) - 1)));

	box-shadow: 0px 0px var(--shadow-size) var(--c), inset 0px 0px var(--shadow-size) var(--c);
	/* background-color: rgba(var(--r), var(--g), var(--b), 0.1); */

	--size: calc(var(--size-start) + calc(var(--size-increment) * calc(var(--i) - 1)));
	width: var(--size);
	height: var(--size);

	--border-w: calc(var(--border-start) + calc(var(--border-increment) * calc(var(--i) - 1)));
	border-color: var(--c);
	border-width: var(--border-w);
	border-style: var(--border-style);

	--outline-w: calc(var(--outline-start) + calc(var(--outline-increment) * calc(var(--i) - 1)));
	outline-color: var(--c);
	outline-width: var(--outline-w);
	outline-style: var(--outline-style);

	--delay: calc(var(--delay-start) + calc(var(--delay-increment) * calc(var(--i) - 1)));
	animation-delay: var(--delay);

	--an: var(--an-name) var(--an-duration) var(--an-timing) calc(var(--an-delay) + var(--delay)) var(--an-iterations) var(--an-direction) var(--an-fill);
	animation-composition: add;
	animation: var(--an);
	mix-blend-mode: var(--blend-mode);

	/* ##### editable properties below. Removing anything here shouldn't break the code*/
	animation-name: tumble, filter-universal;
	animation-duration: var(--an-duration), 5s;
	/* filter: blur(1px); */
}

div.blendtest {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000f;
	box-shadow: inset 0px 0px 20rem #000b;
}

.blendtest.before {
	/* body { */
	display: var(--bg1-display);
	mix-blend-mode: var(--bg1-blend-mode);
	background: var(--bg1);
}
.blendtest.after {
	display: var(--bg2-display);
	mix-blend-mode: var(--bg2-blend-mode);
	background: var(--bg2);
	animation: rainbow-cycle2 30s linear 0s infinite normal forwards;
}

@keyframes filter-universal {
	0% {
		filter: var(--filter-anim-start);
	}
	100% {
		filter: var(--filter-anim-end);
	}
}

@keyframes hue-shift {
	0% {
		filter: hue-rotate(0);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

@keyframes rainbow-cycle {
	0% {
		background-color: #f00f;
	}
	16% {
		background-color: #ff0f;
	}
	33% {
		background-color: #0f0f;
	}
	50% {
		background-color: #0fff;
	}

	67% {
		background-color: #00ff;
	}
	83% {
		background-color: #f0ff;
	}
	100% {
		background-color: #f00f;
	}
}

@keyframes rainbow-cycle2 {
	0% {
		background-color: #f80f;
	}
	16% {
		background-color: #6f4f;
	}
	33% {
		background-color: #0f8f;
	}
	50% {
		background-color: #46ff;
	}

	67% {
		background-color: #80ff;
	}
	83% {
		background-color: #f46f;
	}
	100% {
		background-color: #f80f;
	}
}

@keyframes rotate {
	0% {
		transform: unset;
	}
	100% {
		transform: rotateY(360deg);
	}
}

@keyframes tumble {
	0% {
	}
	100% {
		transform: rotateX(1800deg) rotateY(1440deg) rotateZ(1080deg);
	}
}

@keyframes ripple {
	0% {
		transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
	}
	50% {
		transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(100px);
	}
	100% {
		transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
	}
}

@keyframes ripple2 {
	0% {
		transform: translateZ(0px);
	}
	25% {
		transform: translateZ(-100px);
	}
	50% {
		transform: translateZ(0px);
	}
	75% {
		transform: translateZ(100px);
	}
	100% {
		transform: translateZ(0px);
	}
}
